img {
  width: 100%;
}

/* PROFILE/ALLPROFILES COMPONENT BEGIN */
.allprofiles__row {
 text-align: center;
 background-color: black;
}

.allprofiles_card-body {
  font-family: 'Montserrat';
  text-align: center;
}

.allprofiles__name {
  margin-top: 15px;
}
.card {
  border: 1px solid black;
  display: inline-block;
  margin: 10px;
}

.card:hover{
  transform: scale(1);
  box-shadow: 5px 20px 30px rgba(0,0,0,0.5);
}

.btn {
  margin-bottom: 20px;
}


/* PROFILE/ALLPROFILES END */

.OneBoardGame__card-body {
  text-align: center;
}

/* ALLBOARDGAMES START */
.card-img-top {
  width: 100%;
  height: 40vh;
  object-fit: fill;
}
/* ALLBOARDGAMES END */



/* LAYOUT- LANDING PAGE BEGIN */
.layout__landing {
  position: relative;
  background: url('./img/boardgame.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  margin-top: -24px;
  margin-bottom: -50px;
}

.landing-inner {
  padding-top: 80px;
}

/* LAYOUT- LANDING PAGE END */
.dark-overlay {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.card-form {
  opacity: 0.9;
}

.latest-profiles-img {
  width: 40px;
  height: 40px;
}

.form-control::placeholder {
  color: #bbb !important;
}
